<div class="row-fluid nav">
    <div class="span12" style="text-align:center">
        <a class="create btn btn-primary" ng-show="isNewMode" ng-click="create()">Create <i class="icon-ok icon-white"></i></a>
        <a class="save btn btn-primary" ng-hide="isNewMode" ng-click="save()">Save <i class="icon-ok icon-white"></i></a>
        <a class="btn" ng-click="cancel()">Cancel <i class="icon-ban-circle"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="delete btn btn-danger" ng-hide="isNewMode" ng-click="delete()">Delete <i class="icon-trash icon-white"></i></a>
    </div>
</div>
