    <div class="row-fluid">
        <div class="span2">
            <label>Id:</label>
            <input class="input-block-level" name="client.Id" type="text" ng-model="client.Id" disabled />
        </div>
        <div class="span2">
            <label>Is Active:</label>
            <input class="input-block-level" name="client.IsActive" type="checkbox" ng-model="client.IsActive" />
        </div>
        <div class="span8">
            <label>Practice:</label>
            <input class="input-block-level" type="text" name="client.Name" ng-model="client.Name" required/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <label>Main Contact:</label>
            <input class="input-block-level" type="text" name="client.Address" ng-model="client.Address" required />
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <label>Address:</label>
            <input class="input-block-level" type="text" name="client.Address2" ng-model="client.Address2" required />
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label>City:</label>
            <input class="input-block-level" type="text" name="client.City" ng-model="client.City" required/>
        </div>
        <div class="span3">
            <label>State:</label>
            <input class="input-block-level" type="text" name="client.State" ng-model="client.State" required/>
        </div>
        <div class="span3">
            <label>Zip:</label>
            <input class="input-block-level" type="text" name="client.Zip" ng-model="client.Zip" required/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <label>Phone:</label>
            <input class="input-block-level" type="text" name="client.Phone" ng-model="client.Phone" required/>
        </div>
        <div class="span2">
            <label>Ext:</label>
            <input class="input-block-level" type="text" name="client.Extension" ng-model="client.Extension" required/>
        </div>
        <div class="span3">
            <label>Fax:</label>
            <input class="input-block-level" type="text" name="client.Fax" ng-model="client.Fax" required/>
        </div>
        <div class="span4">
            <label>Client Type:</label>
            <select class="input-block-level" type="text" name="client.TypeId" ng-model="client.TypeId" required ng-options="obj.value as obj.label for obj in clienttypes"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <label>DDS First Name:</label>
            <input class="input-block-level" type="text" name="client.DDSFirstName" ng-model="client.DDSFirstName" required/>
        </div>
        <div class="span3">
            <label>DDS Last Name:</label>
            <input class="input-block-level" type="text" name="client.DDSLastName" ng-model="client.DDSLastName" required/>
        </div>
        <div class="span3">
            <label>Life Member: <input type="checkbox" name="client.LifeMember" ng-model="client.LifeMember" disabled/></label>
            <label>Graduate: <input type="checkbox" name="client.Graduate" ng-model="client.Graduate"/></label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label>Email:</label>
            <input class="input-block-level" type="text" name="client.Email" ng-model="client.Email" required/>
        </div>
    </div>
<div ng-include src="'tpl/actions-edit-delete.html'"></div>

