<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
 
      Search: <input ng-model="query"><br />

    </div>
    <div class="span10">
      <!--Body content-->
        <div class="gridStyle" ng-grid="gridOptions"></div> 
<!--      <table class="clients">
             <tr>
            <th><button ng-click="sort('Name')">Name</button></th>
            <th><button ng-click="sort('Address')">Address</button></th>
            <th><button ng-click="sort('Address2')">Address2</button></th>
            <th><button ng-click="sort('City')">City</button></th>
            <th><button ng-click="sort('State')">State</button></th>
        </tr>
        <tr ng-repeat="client in clients | filter:query | orderBy:orderProp ">
            <td><a href="#/clients/{{client.Id}}">{{client.Name}}</a></td>
            <td>{{client.Address}}</td>
            <td>{{client.Address2}}</td>
            <td>{{client.City}}</td>
            <td>{{client.State}}</td>
        </tr>
      </table>-->
 
    </div>
  </div>
</div>
