<div ng-include src="'tpl/actions-toggle-edit.html'"></div>
<div class="row-fluid">
    <div class="span6">
        <label>Id:</label>
        <input class="input-block-level" name="template.Id" type="text" ng-model="template.Id" disabled />
    </div>
    <div class="span6">
        <label>Email Type ID:</label>
        <select disabled class="input-block-level" type="text" name="template.EmailTypeId" ng-model="template.EmailTypeId" required ng-options="obj.value as obj.label for obj in emailtypes"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <label>Subject:</label>
        <input class="input-block-level" type="text" name="template.Subject" ng-model="template.Subject" required />
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <label>Body Template:</label>
        <textarea class="input-block-level" type="text" name="template.BodyTemplate" ng-model="template.BodyTemplate" required />
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="help-block">
            You may use the following replacement patterns in your template:
            <ul>
                <li><code>{SMS_ID}</code> - SMS assigned client id</li>
                <li><code>{ClientName}</code> - The name of the client organization</li>
                <li><code>{PrimaryContact}</code> - Primary contact's name</li>
                <li><code>{Email}</code> - Contact email address</li>
            </ul>
        </div>
    </div>
</div>
<div ng-include src="'tpl/actions-toggle-edit.html'"></div>
