<div class="row-fluid">
    <div class="span3">
        <label>Id:</label>
        <input name="equipment.Id" class="input-block-level" type="text" ng-model="equipment.Id" disabled />
    </div>
    <div class="span3">
        <label>Client Id:</label>
        <input class="input-block-level" type="text" name="equipment.ClientId" ng-model="equipment.ClientId" ng-disabled='!isNewMode' required/>
    </div>
    <div class="span3">
        <label>Is Active: <br /><input type="checkbox" name="equipment.IsActive" ng-model="equipment.IsActive" /></label>
    </div>
    <div class="span3">
        <label>Type:</label>
        <select class="input-block-level" type="text" name="equipment.Type" ng-model="equipment.Type" required ng-options="obj.value as obj.label for obj in equipmenttypes"/>
    </div>
</div>
<div ng-include src="'tpl/actions-edit-delete.html'"></div>
